In [52]:
import numpy as np
import matplotlib.pyplot as plt
import yfinance as yf

In [53]:
ticker = yf.Ticker("MSFT")
data = ticker.history(period="60d", interval="5m")
# print(len(data))
# print(data.head())

In [54]:
"""Clean data, not important columns"""

data = data.reset_index()
data = data.drop(columns=["Datetime", "Dividends", "Stock Splits"])
data.head()

         Open        High         Low       Close  Volume
0  429.729614  431.940002  429.399994  430.750000  833459
1  430.765015  431.130005  429.627014  429.750000  233572
2  429.750000  429.790009  428.799988  428.839996  211216
3  428.845001  429.089996  428.234985  428.575012  225069
4  428.575012  428.833008  428.170990  428.304993   98608

In [55]:
"""Add RSI random"""
rsi = np.random.randint(0, 100, len(data))
data["rsi"] = rsi
data.head()

         Open        High         Low       Close  Volume  rsi
0  429.729614  431.940002  429.399994  430.750000  833459   61
1  430.765015  431.130005  429.627014  429.750000  233572    3
2  429.750000  429.790009  428.799988  428.839996  211216   70
3  428.845001  429.089996  428.234985  428.575012  225069   86
4  428.575012  428.833008  428.170990  428.304993   98608    5

In [56]:
class Simulation:
    def __init__(self, data):
        self.data = data
        self.profit = 0.0
        self.stock = []
        self.state = {}
        return 

    def process(self, idx, row):
        if row["rsi"] < 30:
            self.buy(idx, row["Close"])
        if row["rsi"] > 70:
            self.sell(idx, row["Close"])
        return 

    def buy(self, idx, price):
        buy_instance = (idx, price)
        self.stock.append(buy_instance)

    def sell(self, idx, price):
        if not self.stock:
            # print("Nothing to sell")
            return
        else:
            sell_instance = self.stock[0]
            profit = price - self.stock[0][1]
            
            # print(f"Sell stock of {sell_instance[0]} of price {sell_instance[1]} - Profit: {profit}")
            self.stock.pop(0)
            self.profit += profit

    def run(self):
        for idx, row in self.data.iterrows():
            self.process(idx, row)
        return

In [57]:
simulation = Simulation(data)
simulation.run()

In [58]:
simulation.profit

1101.5239868164062

In [59]:
import ta

ModuleNotFoundError: No module named 'ta'